<button (click)="loadImage()">Click Me</button>

<div>
  {{dataArray}}
</div>

<div id="imgEdit1" style="width:400px;height:500px;"></div>
<div id="ImgThumbnails1" style="width:150px;height:500px;"></div>



<div id="imgScan1"></div>

<button (click)="NextPage()">
  Next Page
</button>
<button (click)="PreviousPage()">
  Previous Page
</button>

<button (click)="ZoomIn()">
  Zoom in
</button>
<button (click)="ZoomOut()">
  Zoom out
</button>
<button (click)="ZoomTo()">
  Zoom to
</button>
<button (click)="_getDataSources()">
  Get Sources
</button>

<button (click)="getSourcesAlt()">

  Get Sources Alt
</button>

<button (click)="_getSourceSettings()">
  Get Source Settings
</button>

<button (click)="_scanImage()">
  Scan Image
</button>

<button (click)="_getLocalData()">
  Get Local Data
</button>

<button (click)="BestFit()">
  Best Fit
</button>
<button (click)="FitToWidth()">
  Fit To Width
</button>
<button (click)="FitToHeight()">
  Fit to Height
</button>

<button (click)="Magnifying()">
  Magnifying
</button>

<button (click)="DeletePage()">
  Delete Page
</button>


