<button (click)="loadImage()">Click Me</button>

<div id="imgEdit1" style="width:400px;height:500px;"></div>

<div id="imgScan1"></div>



<button (click)="ZoomIn()">
  Zoom in
</button>
<button (click)="ZoomOut()">
  Zoom out
</button>
<button (click)="ZoomTo()">
  Zoom to
</button>
<button (click)="loadSources()">
  Load Sources
</button>
<button (click)="initDevice()">
  Scan Image
</button>
<button (click)="_getDataSources()">
  Get Sources
</button>

<button (click)="_getSourceSettings()">
  Get Source Settings
</button>

<button (click)="_scanImage()">
  Scan Image
</button>



